[mysql]
user=root                                                                                                                                          
password=joelerll
[mysqld]
secure-file-priv = ""